{% extends "base.html" %}

{% block title %}Successfully Deployed{% endblock %}

{% block header %}Success!{% endblock %}

{% block message %}You deployed Twilio SimpleDial on Heroku using the Flask webserver{% endblock %}

{% block blurb %}Please configure your SIP Domain Voice URL with the following Heroku URL:{% endblock
%}

{% block content %}
    <a href="https://www.twilio.com/user/account/phone-numbers/incoming"
       class="button">Click to buy a phone number from Twilio</a>
    <a href="https://www.twilio.com/console/voice/sip/endpoints"
       class="button">Click to configure your SIP Domain</a>

    <dl id="url_list">
        {% for key, value in params.items() %}
        <dt>{{key}}</dt>
        <dd><a href="{{value}}">{{value}}</a></dd>
        {% endfor %}
    </dl>


{% endblock %}
